In [1]:
import pandas as pd
import numpy as np
np.random.seed(42)

from evaluation import generate_recommendations, evaluate_recommendations
from recommender_data_preprocessor import get_recommender_data

import clearml

from dotenv import load_dotenv
load_dotenv()

True

In [2]:
task = clearml.Task.init(
    project_name = 'MoviesGRS_MFDP', 
    task_name = 'RandomRecommender', 
    tags = ['RandomRecommender']
)

ClearML Task: created new task id=800b622c74284843b15287a8509ec0ac
2023-06-01 22:10:55,485 - clearml.Task - INFO - Storing jupyter notebook directly as code
ClearML results page: https://app.clear.ml/projects/f3cb8157bfe7443abdc531a44bb15332/experiments/800b622c74284843b15287a8509ec0ac/output/log

In [3]:
GROUPS_LIST = [f'group{i}' for i in range(1, 8)]

In [4]:
recommender_data = get_recommender_data(GROUPS_LIST)

In [5]:
def recommend(row):
    return np.random.choice(row['unwatched'], size=10, replace=False)

In [6]:
recommends = generate_recommendations(recommend, recommender_data, GROUPS_LIST)
recommends.head(1)

,userId,group1,group2,group3,group4,group5,group6,group7,movieId,rating,unwatched,group1_rec,group2_rec,group3_rec,group4_rec,group5_rec,group6_rec,group7_rec
0,1,1,14465,39625,6774,4424,23830,7737,"[613, 176, 734, 114, 270, 485, 352, 201, 571, ...","[5.0, 5.0, 5.0, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, ...","[22, 80, 14, 26, 310, 376, 99, 96, 75, 70, 74,...","[486, 316, 337, 510, 618, 139, 387, 20, 347, 390]","[431, 478, 364, 83, 385, 336, 376, 32, 34, 50]","[328, 324, 431, 308, 77, 414, 399, 105, 12, 646]","[50, 403, 382, 360, 218, 253, 260, 719, 398, 440]","[286, 45, 438, 352, 122, 200, 490, 297, 141, 398]","[527, 225, 88, 60, 125, 83, 393, 542, 647, 239]","[326, 127, 143, 423, 137, 618, 37, 596, 446, 108]"

In [7]:
results = evaluate_recommendations(recommends, GROUPS_LIST)
results

ClearML Monitor: Could not detect iteration reporting, falling back to iterations as seconds-from-start

             MAP      NDCG
group1  0.010588  0.103629
group2  0.010125  0.100240
group3  0.009554  0.095163
group4  0.009391  0.093549
group5  0.009381  0.093522
group6  0.009283  0.092144
group7  0.008909  0.088835

In [8]:
task.upload_artifact('metrics', results)

True

In [9]:
task.close()